services:
  minio:
    image: minio/minio:RELEASE.2025-02-03T21-03-04Z
    restart: unless-stopped
    volumes:
      - ./minio-config:/root/.minio
      - ./minio-data:/data
    environment:
      - VIRTUAL_HOST=s3.{{instance_url}}
      - VIRTUAL_PORT=9000
      - LETSENCRYPT_HOST=s3.{{instance_url}}
      - MINIO_ROOT_USER=${MINIO_ROOT_USER:?MINIO_ROOT_USER not set}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD:?MINIO_ROOT_PASSWORD not set}
      - MINIO_SERVER_URL=https://s3.{{instance_url}}
      - MINIO_UPDATE=off
      - MINIO_REGION=us-east-1
      - MINIO_BROWSER_REDIRECT_URL=https://console.s3.{{instance_url}}
    command: server --address ":9000" --console-address ":9002" /data
    networks:
      - web

  tunnel:
    image: marcnuri/port-forward
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=console.s3.{{instance_url}}
      - VIRTUAL_PORT=9002
      - LETSENCRYPT_HOST=console.s3.{{instance_url}}
      - REMOTE_HOST=minio
      - REMOTE_PORT=9002
      - LOCAL_PORT=9002
    networks:
      - web

networks:
  web:
    external: true
    name: webshare
