inventory/hosts
token.txt
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info

*.tfvars
vars/smtp.yml

vars/woodpecker.yml

vars/minio.yml

vars/woodpecker_production.yml

vars/woodpecker_staging.yml

vars/backup.yml

s3-migration/local-storage/
