# docker-compose.yml
version: '3'

services:
  woodpecker-server:
    image: woodpeckerci/woodpecker-server:latest
#    ports:
#      - 8000:8000
    volumes:
      - ./data:/var/lib/woodpecker/
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=ci.{{instance_url}}
      - VIRTUAL_PORT=8000
      - LETSENCRYPT_HOST=ci.{{instance_url}}
      - WOODPECKER_OPEN=true
      - WOODPECKER_HOST=https://ci.{{instance_url}}
      - WOODPECKER_AGENT_SECRET=${WOODPECKER_AGENT_SECRET:?WOODPECKER_AGENT_SECRET not set}
      - WOODPECKER_ADMIN=root,{{user_name}}
      - WOODPECKER_GITEA=true
      - WOODPECKER_GITEA_URL=https://{{instance_url}}
      - WOODPECKER_GITEA_CLIENT=${WOODPECKER_GITEA_CLIENT:?WOODPECKER_GITEA_CLIENT not set}
      - WOODPECKER_GITEA_SECRET=${WOODPECKER_GITEA_SECRET:?WOODPECKER_GITEA_SECRET not set}
      - WOODPECKER_DATABASE_DRIVER=postgres
      - WOODPECKER_DATABASE_DATASOURCE=postgres://postgres:postgres@woodpecker-database:5432/postgres?sslmode=disable
    networks:
      - woodpecker-net
      - web
    depends_on:
      - woodpecker-database

  woodpecker-agent:
    image: woodpeckerci/woodpecker-agent:latest
    command: agent
    restart: unless-stopped
    depends_on:
      - woodpecker-server
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - WOODPECKER_SERVER=woodpecker-server:9000
      - WOODPECKER_AGENT_SECRET=${WOODPECKER_AGENT_SECRET:?WOODPECKER_AGENT_SECRET not set}
    networks:
      - woodpecker-net

  woodpecker-database:
    image: postgres:14
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
#    ports:
#      - '5432:5432'
    volumes: 
      - ./db:/var/lib/postgresql/data
    networks:
      - woodpecker-net

networks:
  woodpecker-net:
    name: woodpecker-net
  web:
    external: true
    name: webshare
