---

#
# Backup configuration
#

restic_version: "0.16.2"
restic_target: "rest:https://$AWS_ACCESS_KEY_ID:$AWS_SECRET_ACCESS_KEY@restic.TODO.com/$AWS_ACCESS_KEY_ID/BUCKET"
restic_key: "TODO"
access_key: "TODO"
secret_key: "TODO"
