#!/bin/bash

set -e

# Set crypto passphrase for encryption
export AWS_ACCESS_KEY_ID={{ backup_config.access_key }}
export AWS_SECRET_ACCESS_KEY={{ backup_config.secret_key }}
export RESTIC_PASSWORD={{ backup_config.restic_key }}
export RESTIC_REPOSITORY={{ backup_config.restic_target }}
restic="/opt/restic/restic"
dir_prefix="/backup/dbs"

# Write beginning date to backup log
echo 'Check date' $(date)'.'
echo ' '

$restic cat config
$restic check

# Write end to log file
echo ' '
echo '============================'
echo ' '

# Unset ENVs
unset AWS_ACCESS_KEY_ID
unset AWS_SECRET_ACCESS_KEY
unset RESTIC_PASSWORD
unset RESTIC_REPOSITORY
