<a class="item" href="{% raw %}{{AppSubUrl}}{% endraw %}/{{instance_url}}/org/src/branch/main/legal-notice.md">Legal Notice</a>
<a class="item" href="{% raw %}{{AppSubUrl}}{% endraw %}/{{instance_url}}/org/src/branch/main/privacy-policy.md">Privacy Policy</a>
<a class="item" href="https://forgejo.org">Forgejo Project</a>
