---
# https://docs.docker.com/engine/install/debian/
- name: Install Docker dependencies
  ansible.builtin.apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - apparmor
    state: present

- name: Add apt signing key
  ansible.builtin.apt_key:
    url: https://download.docker.com/linux/debian/gpg
    state: present

- name: Add apt repository
  ansible.builtin.apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/debian bullseye stable"
    state: present

- name: Install Docker packages
  ansible.builtin.apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-compose-plugin
    state: present
    update_cache: true

- name: Add user {{ user_name }} to docker group
  ansible.builtin.user:
    name: '{{ user_name }}'
    groups: docker
    append: true

- name: Remove unused Docker resources from the system
  command: docker image prune -a -f
