{{template "base/head" .}}
<div class="page-content home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
				<img class="logo" width="220" height="220" src="{{AssetUrlPrefix}}/img/logo.svg" alt="{{.locale.Tr "logo"}}"/>
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					{{AppName}}
				</h1>
				<h2>This is a private Forgejo instance. Please visit <a href="https://forgejo.org">forgejo.org</a> for more information.</h2>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
